---
layout: default
css: ["post.css"] # 保持原有的 CSS
js: ["post.js"]   # 保持原有的 JS
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558fYv3mQP6rjrcSmikYiE1dpMb6ML+HElBx7FdBIAEKreq8VSrlDrL" crossorigin="anonymous">


<div id="post-info">
  <h3>{{page.title}}</h3>
  <ul class="collapsible hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date">date_range</i>
          {{page.date | date: "%d/%m/%Y %H:%M"}}
          <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Show extra info">info</i>
        </span>
      </div>
      <div class="collapsible-body">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Categories">sort</i>
          {% for cat in page.categories %}
          {% capture test %}{{cat | slice: 0}}{% endcapture %}
          {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{cat}}</div></a>
          {% endfor %}
        </span>
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Tags">label</i>
          {% for tag in page.tags %}
          {% capture test %}{{tag | slice: 0}}{% endcapture %}
          {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{tag}}</div></a>
          {% endfor %}
        </span>
      </div>
    </li>
  </ul>
</div>
<div class="divider"></div>

<div class="row">
  <div class="col s12 post-content-area"> 
    {{ content }}
  </div>
</div>

{% if site.disqus_shortname and page.comments %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{site.url}}{{site.baseurl}}{{page.url}}";
    this.page.identifier = "{{page.id}}";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1jvVUIA9cGxkF" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouWR/NZWKhr3BqvKLrDOQ5N4HduUbKdWpASagSyMARd" crossorigin="anonymous"></script>
<script>
    // *** 修改：使用 window.onload 确保所有资源加载完毕 ***
    window.onload = function() {
        try { // 添加 try...catch 以便调试
            renderMathInElement(document.body, {
                // KaTeX 配置选项
                delimiters: [
                    {left: "$$", right: "$$", display: true},  // 块级公式 $$...$$
                    {left: "$", right: "$", display: false},   // 行内公式 $...$
                    {left: "\\(", right: "\\)", display: false}, // 行内公式 \(...\)
                    {left: "\\[", right: "\\]", display: true}   // 块级公式 \[...\]
                ],
                // 如果遇到 KaTeX 不支持的命令，可以选择忽略或抛出错误
                throwOnError : false
            });
        } catch (error) {
            console.error("KaTeX rendering failed:", error);
        }
    };
</script>
```